@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.ice-cream.active {
  animation: reveal-ice-cream 1s ease-in-out forwards;
}

@keyframes reveal-ice-cream {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-16px);
  }

  90% {
    transform: translateY(95%);
  }

  100% {
    transform: translateY(90%);
  }
}
